name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:

  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet publish -c Release -o backend_publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: backend_publish


  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Angular
        working-directory: ./frontend
        run: npm run build -- --configuration production

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist


  deploy:
    needs: [build-backend, build-frontend]
    runs-on: self-hosted   # MUST be IIS server

    steps:
      - name: Download backend
        uses: actions/download-artifact@v4
        with:
          name: backend
          path: backend

      - name: Download frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend
          path: frontend

      - name: Stop IIS
        shell: powershell
        run: |
          Import-Module WebAdministration
          Stop-Website -Name "MyApp"

      - name: Deploy Backend
        shell: powershell
        run: |
          Remove-Item "C:\inetpub\wwwroot\MyApp\api\*" -Recurse -Force -ErrorAction SilentlyContinue
          Copy-Item "backend\*" "C:\inetpub\wwwroot\MyApp\api" -Recurse

      - name: Deploy Frontend
        shell: powershell
        run: |
          Remove-Item "C:\inetpub\wwwroot\MyApp\ui\*" -Recurse -Force -ErrorAction SilentlyContinue
          Copy-Item "frontend\*" "C:\inetpub\wwwroot\MyApp\ui" -Recurse

      - name: Start IIS
        shell: powershell
        run: |
          Import-Module WebAdministration
          Start-Website -Name "MyApp"
